@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html {
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
    }
    section {
      scroll-snap-align: start;
    }
    @keyframes marqueeAnimation {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
    .asdad{
      background-color: #efefef;
    }
    
    /* Define the animation class */
    .animate-marquee {
      animation: marqueeAnimation 15s linear infinite; /* Adjust duration as needed */
    }
    .customClipPath {
      clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    }
    .backface-hidden {
      backface-visibility: hidden;
    }
}